#izquierda{
	position: absolute;
	top: 10px;
	left: 20px;
}

#derecha{
	position: absolute;
	bottom: 10px;
	right: 20px;
}

.season-display{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.season-display.Winter{
	background-color: aliceblue;
}

.season-display.Summer{
	background-color: orange;
}

.season-display.Winter i{
	color: blue;
}

.season-display.Summer i{
	color: red;
}